
config USB_UART_ASYNC_ADAPTER
	bool "Enable USB UART async adapter"
	select SERIAL_SUPPORT_ASYNC
	help
	  Enables asynchronous adapter for UART drives that supports only
	  IRQ interface.

config UART_ASYNC_ADAPTER_LOG_LEVEL
	int "Log level for UART async adapter"
	range 0 7
	default 0
	help
	  Set the log level for the UART async adapter. The higher the number,
	  the more verbose the logs. The default is 4, which is a good balance
	  between verbosity and performance.