BasedOnStyle: LLVM  
IndentWidth: 4
ColumnLimit: 98
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: Consecutive
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
ReflowComments: false
SortIncludes: false