/ {
	motor {
		dm_motor: dm_motor{
			compatible = "dm,motor";
			id = <1>;
			rx_id = <0x1A>;
			tx_id = <0x0A>;
			v_max = "785";
			status = "okay";
			can_channel = <&can1>;
			controllers = <&vo>;
			capabilities = "vo";
			t_max = "5";
			freq = <1000>;
		};
	};
	vo: vo{
		compatible = "pid,single";
		k_p = "0.00251";
	};
};