/* SPDX-License-Identifier: Apache-2.0 */

/* 定位到你的板子的 flash controller 节点，通常是 &flash0 或类似名称 */
/* 对于 stm32f407vg_disc1 或类似板子，通常是 &flash0 */
&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Sector 10 base: 0x080C0000, size: 128KB */
		/* Sector 11 base: 0x080E0000, size: 128KB */
		/* 我们使用 Sector 10 和 Sector 11，总共 256KB */
		storage_partition: partition@c0000 {
			label = "storage";
			/* 从 Sector 10 开始 (0x080C0000)，大小为 256KB (0x40000) */
			reg = <0x00C0000 0x00040000>;
		};
	};
};