# ARES configuration options

# Copyright (c) 2025 ttwards <12411711@mail.sustech.edu.cn>
# SPDX-License-Identifier: Apache-2.0

rsource "connectivity/Kconfig"

menuconfig ARES
    bool "ARES options"
    help
      Enable support for ares modules.

module = ARES
module-str = ARES

config IMU_PWM_TEMP_CTRL
    bool "IMU_PWM_TEMP_CTRL"
    help
      Enable IMU PWM TEMP CTRL
	  select PID
	
config AUTO_PROBE_GYRO_BIAS
	bool "AUTO_PROBE_GYRO_BIAS"
	help
	  Enable AUTO PROBE GYRO BIAS

config EKF_LIB
	bool "EKF_LIB"
	help
	  Enable EKF_LIB

config VOFA_LIB
	bool "VOFA_LIB"
	help
	  Enable VOFA_LIB

config MASTER_BOARD
	bool "MASTER_BOARD"
	help
	  Enable MASTER_BOARD

config SLAVE_BOARD
	bool "SLAVE_BOARD"
	help
	  Enable SLAVE_BOARD

config UART_TRANS_LIB
	bool "UART_TRANS_LIB"
	help
	  Enable UART_TRANS_LIB