# ARES configuration options

# Copyright (c) 2025 ttwards <12411711@mail.sustech.edu.cn>
# SPDX-License-Identifier: Apache-2.0

rsource "connectivity/Kconfig"

menuconfig ARES
    bool "ARES options"
    help
      Enable support for ares modules.

module = ARES
module-str = ARES

config USB_BULK_INTERFACE
	bool "USB_BULK_INTERFACE"
	help
	  Enable USB_BULK_INTERFACE

config BOARD_LOG_LEVEL
	int "BOARD_LOG_LEVEL"
	range 0 4
	default 3
	help
	  Set BOARD_LOG_LEVEL

config IMU_PWM_TEMP_CTRL
	select PID
    bool "IMU_PWM_TEMP_CTRL"
    help
      Enable IMU PWM TEMP CTRL
	
config AUTO_PROBE_GYRO_BIAS
	bool "AUTO_PROBE_GYRO_BIAS"
	help
	  Enable AUTO PROBE GYRO BIAS

config EKF_LIB
	bool "EKF_LIB"
	select CMSIS_DSP
	select CONFIG_CMSIS_DSP_MATRIX
	help
	  Enable EKF_LIB

config VOFA_LIB
	bool "VOFA_LIB"
	help
	  Enable VOFA_LIB

config MASTER_BOARD
	bool "MASTER_BOARD"
	help
	  Enable MASTER_BOARD

config SLAVE_BOARD
	bool "SLAVE_BOARD"
	help
	  Enable SLAVE_BOARD

config UART_TRANS_LIB
	bool "UART_TRANS_LIB"
	help
	  Enable UART_TRANS_LIB

config EXPERIMENTAL_BULK_LIB
	bool "EXPERIMENTAL_BULK_LIB"
	help
	  Enable EXPERIMENTAL_BULK_LIB

config PLOTTER
	bool "PLOTTER"
	help
	  Enable PLOTTER

config PLOTTER_FREQ
	int "PLOTTER_FREQ"
	range 10 1000
	default 300
	help
	  Set PLOTTER_FREQ