/ {
	motor1: motor1{
		compatible = "dm,motor";
		id = <24>;
		rx_id = <24>;
		tx_id = <86>;
		gear_ratio = <100>;
		status = "okay";
		can_channel = <&canbus1>;
		controllers = <&mit_pid_0>;
		capabilities = "mit";
		p_max = <125>;
		v_max = <450>;
		t_max = <100>;
	};

	pid {
		mit_pid_0: mit_pid_0 {
			#controller-cells = <0>;
			compatible = "pid,mit";
			k_p = <50>;
			k_i = <3>;
			k_d = <8>;
		};
	};
	sbus0: sbus0 {
		compatible = "ares,sbus";
		status = "okay";
	};
};

&spi1 {
    status = "okay";

    bmi08x_accel: bmi08x_accel@0 {
        compatible = "bosch,bmi08x-accel";
		status = "okay";
        reg = <0>;
        spi-max-frequency = <8000000>;
        int-gpios = <&gpioc 4 GPIO_ACTIVE_HIGH>;
        accel-hz = "1600";
        accel-fs = <12>;
		int1-map-io = <0>;
		int2-map-io = <0>;
        int1-conf-io = <0>;
		int2-conf-io = <0>;
		
    };

    bmi08x_gyro: bmi08x_gyro@1{
        compatible = "bosch,bmi08x-gyro";
		status = "okay";
        reg = <1>;
        spi-max-frequency = <8000000>;
        int-gpios = <&gpioc 5 GPIO_ACTIVE_HIGH>;
        gyro-hz = "2000_532";
        gyro-fs = <2000>;
		int3-4-map-io = <0>;
		int3-4-conf-io = <0>;
        // 其他所需属性...
    };
};