/ {
	rm_motor {
		motor0: motor0{
			compatible = "dji,motor";
            is_m2006;
			id = <1>;
            rx_id = <0x201>;
            tx_id = <0x200>;
			gear_ratio = <3600>;
			status = "okay";
			can_channel = <&canbus1>;
			controllers = <&angle_pid_1 &speed_pid_1>;
			capabilities = "angle", "speed";
		};

		motor1: motor1{
			compatible = "dji,motor";
            is_m2006;
			id = <2>;
            rx_id = <0x202>;
            tx_id = <0x200>;
			gear_ratio = <3600>;
			status = "okay";
			can_channel = <&canbus1>;
			controllers = <&angle_pid_2 &speed_pid_2>;
			capabilities = "angle", "speed";
		};
	};

	pid {
		angle_pid_1: angle_pid_1 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = <700>;
			k_i = <3>;
			k_d = <800>;
		};
		speed_pid_1: speed_pid_1 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = <180>;
			k_i = <20>;
			k_d = <20>;
		};
		angle_pid_2: angle_pid_2 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = <100>;
			k_i = <100>;
			k_d = <100>;
		};
		speed_pid_2: speed_pid_2 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = <180>;
			k_i = <20>;
			k_d = <20>;
		};
		torque_pid_2: torque_pid_2 {
			#controller-cells = <0>;
			compatible = "pid,mit";
			k_p = <1>;
			k_i = <0>;
			k_d = <0>;
		};
	};
	sbus0: sbus0 {
		compatible = "ares,sbus";
		status = "okay";
	};
};