rsource "usb/Kconfig"
rsource "uart/Kconfig"

config USB_BULK_INTERFACE
	bool "USB_BULK_INTERFACE"
	help
	  Enable USB_BULK_INTERFACE
	select ARES_COMM_LIB
	select USB_DEVICE_STACK_NEXT
	select UDC_WORKQUEUE