/*
 * Copyright (c) 2025, ttwards <xuwenxi0517@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/h7/stm32h723Xg.dtsi>
#include <st/h7/stm32h723vgtx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/led/worldsemi_ws2812c.h>
#include <zephyr/dt-bindings/led/led.h>


/ {
	model = "Damiao DM-MC02";
	compatible = "damiao,dm-mc02";

	chosen {
		zephyr,console = &uart7;
		zephyr,shell-uart = &uart7;
		zephyr,sram = &sram0;
		zephyr,button = &user_button;
		zephyr,flash = &flash0;
		zephyr,canbus = &fdcan1;
		zephyr,ccm = &ccm0;
		sbus,uart = &uart5;
	};

	aliases {
		watchdog0 = &iwdg;
		vofa = &usart1;
		led-strip = &led_strip;
	};


	buttons {
		compatible = "gpio-keys";
		user_button: button_0 {
			gpios = <&gpioa 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "User Button";
			zephyr,code = <INPUT_KEY_0>;
		};
	};
	canbus {
		canbus1: canbus1 {
				compatible = "vnd,canbus";
				status = "okay";
				can_device = <&fdcan1>;
		};
		canbus2: canbus2 {
				compatible = "vnd,canbus";
				status = "okay";
				can_device = <&fdcan2>;
		};
		canbus3: canbus3 {
				compatible = "vnd,canbus";
				status = "okay";
				can_device = <&fdcan3>;
		};
	};
    
	xt30 {
		compatible = "gpio-leds";
		status = "okay";
		power1: power1 {
			gpios = <&gpioc 14 GPIO_ACTIVE_HIGH>;
			label = "XT30_1";
		};
		power2: power2 {
			gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
			label = "XT30_2";
		};
	};

	dut: rtt0: rtt_chan0 {
		compatible = "segger,rtt-uart";
		status = "okay";
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hsi {
	status = "okay";
	hsi-div = <1>;
};

&clk_csi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(24)>;
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
};

&pll {
	div-m = <4>;
	mul-n = <34>;
	div-p = <1>;
	div-q = <2>;
	div-r = <2>;
	fracn = <3072>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&pll2 {
	div-m = <32>;
	mul-n = <129>;
	div-p = <2>;
	div-q = <2>;
	div-r = <2>;
	fracn = <0>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&pll3 {
	div-m = <32>;
	mul-n = <129>;
	div-p = <2>;
	div-q = <2>;
	div-r = <2>;
	fracn = <0>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(550)>;
	d1cpre = <1>;
	hpre = <2>;    /* HCLK: 275   MHz */
	d1ppre = <2>;  /* APB1: 137.5 MHz	 */
	d2ppre1 = <2>; /* APB2: 137.5 MHz */
	d2ppre2 = <2>; /* APB3: 137.5 MHz */
	d3ppre = <2>;  /* APB4: 137.5 MHz */
	status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
			 <&rcc STM32_SRC_LSI RTC_SEL(2)>;
	status = "okay";
};

&rng {
	status = "okay";
};

&iwdg {
	status = "okay";
};

&dmamux1 {
    status = "okay";
};

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <4000000>;
	status = "okay";
	data-bits = <8>;
	stop-bits = "1";
	dmas = <&dmamux1 2 41 STM32_DMA_PERIPH_RX>,
		   <&dmamux1 3 42 STM32_DMA_PERIPH_TX>;
	dma-names = "rx", "tx";
};

&uart5 {
	pinctrl-0 = <&uart5_rx_pd2 &uart5_tx_pc12>;
	pinctrl-names = "default";
	current-speed = <100000>;
	status = "okay";
	data-bits = <8>;
	stop-bits = "2";
	dmas = <&dmamux1 0 65 STM32_DMA_PERIPH_RX
			&dmamux1 1 66 STM32_DMA_PERIPH_TX>;
	dma-names = "rx", "tx";
};

&uart7 {
	pinctrl-0 = <&uart7_tx_pe8 &uart7_rx_pe7>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
	data-bits = <8>;
	stop-bits = "1";
	hw-flow-control;
};

&usart10 {
	pinctrl-0 = <&usart10_tx_pe3 &usart10_rx_pe2>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
	data-bits = <8>;
	stop-bits = "1";
};

// zephyr_udc0: &usbotg_hs {
// 	pinctrl-0 = <&usb_otg_hs_dp_pa12 &usb_otg_hs_dm_pa11>;
// 	pinctrl-names = "default";
// 	status = "okay";

// 	cdc_acm_uart0: cdc_acm_uart {
// 		compatible = "zephyr,cdc-acm-uart";
// 	};
// };

&fdcan1 {
	status = "okay";
	pinctrl-0 = <&fdcan1_rx_pd0 &fdcan1_tx_pd1>;
	pinctrl-names = "default";
	bitrate = <1000000>;
};

&fdcan2 {
	pinctrl-0 = <&fdcan2_rx_pb5 &fdcan2_tx_pb6>;
	pinctrl-names = "default";
	bitrate = <1000000>;
	status = "okay";
};

&fdcan3 {
	pinctrl-0 = <&fdcan3_rx_pd12 &fdcan3_tx_pd13>;
	pinctrl-names = "default";
	bitrate = <1000000>;
	status = "okay";
};

&spi2 {
	status = "okay";
	cs-gpios = <&gpioc 0 GPIO_ACTIVE_LOW>,
			   <&gpioc 3 GPIO_ACTIVE_LOW>;

	pinctrl-0=<&spi2_mosi_pc1
			   &spi2_miso_pc2_c
			   &spi2_sck_pb13>;

	pinctrl-names="default";

    bmi08x_accel: bmi08x_accel@0 {
        compatible = "bosch,bmi08x-accel";
		status = "okay";
        reg = <0>;
        spi-max-frequency = <8000000>;
        int-gpios = <&gpioe 10 GPIO_ACTIVE_HIGH>;
        accel-hz = "800";
        accel-fs = <12>;
		int1-map-io = <0x01>;
		int2-map-io = <0x02>;
        int1-conf-io = <0x0A>;
		int2-conf-io = <0x0A>;
    };

    bmi08x_gyro: bmi08x_gyro@1{
        compatible = "bosch,bmi08x-gyro";
		status = "okay";
        reg = <1>;
        spi-max-frequency = <8000000>;
        int-gpios = <&gpioe 12 GPIO_ACTIVE_HIGH>;
        gyro-hz = "1000_116";
        gyro-fs = <1000>;
		int3-4-map-io = <0x01>;
		int3-4-conf-io = <0x01>;
    };
};

&spi6 {
	status = "okay";

	pinctrl-0=<&spi6_mosi_pa7>;

	pinctrl-names="default";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		chain-length = <2>;

		reg = <0>;
		spi-max-frequency = <7000000U>;

		color-mapping =	<LED_COLOR_ID_RED
						 LED_COLOR_ID_GREEN
						 LED_COLOR_ID_BLUE>;
		spi-one-frame = <WS2812C_ONE_FRAME>;
		spi-zero-frame = <WS2812C_ZERO_FRAME>;
	};
};