/ {
	motor1: motor1{
		compatible = "dm,motor";
		id = <24>;
		rx_id = <24>;
		tx_id = <86>;
		gear_ratio = <100>;
		status = "okay";
		can_channel = <&canbus1>;
		controllers = <&mit_pid_0>;
		capabilities = "mit";
		p_max = <125>;
		v_max = <450>;
		t_max = <100>;
	};

	pid {
		mit_pid_0: mit_pid_0 {
			#controller-cells = <0>;
			compatible = "pid,mit";
			k_p = <50>;
			k_i = <3>;
			k_d = <8>;
		};
	};
	sbus0: sbus0 {
		compatible = "ares,sbus";
		status = "okay";
	};
};